<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Our Team | Classical Physics</title>
  <link rel="stylesheet" href="./css/Team.css">
   <link rel="shortcut icon" type="image/png" href="./media/favicon.jpg">
</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Satisfy" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <title>Our Team | Classical Physics</title>
</head>
<body>

    <ul id="messages">

        <!-- 1 -->
        <li>
            <div class="infos">
                <img src="http://farm4.staticflickr.com/3412/3446830982_c8b55cc7e8_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Harsh Gupta
                    <b>Team Coordinator</b>
                </h3>
                <p>
                 <i class="fab fa-linkedin-in"></i><a href="https://www.linkedin.com/in/harsh-gupta-88073a172/">Linkedin</a>                </p>
            </div>
        </li>
        <!-- 2 -->
        <li>
            <div class="infos">
                <img src="http://farm3.staticflickr.com/2721/4531285963_cd28f61b16_q.jpg" alt=""  title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Vishal Jain
                    <b>Team Coordinator</b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/vishal-jain-ab2151197/">Linkedin</i></a>  
                </p>
            </div>
        </li>

        <!-- 3 -->
        <li>
            <div class="infos">
                <img src="http://farm3.staticflickr.com/2617/3873098259_61c446da22_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Amay Sharma
                    <b>Developer </b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/amay-sharma-70358917b">Linkedin</i></a>  
                </p>
            </div>
        </li>

        <!-- 4 -->
        <li>
            <div class="infos">
                <img src="http://farm4.staticflickr.com/3412/3446830982_c8b55cc7e8_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Apurv Mundhra
                    <b>Developer</b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/apurv-mundhra-1b87141a2">Linkedin</i></a> 
                </p>
            </div>
        </li>

        <!-- 5 -->
        <li>
            <div class="infos">
                <img src="http://farm4.staticflickr.com/3588/3663734351_f9cb5a6a56_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Chhavi Batra
                    <b>Developer</b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/mwlite/in/chhavi-batra-a3a643173">Linkedin</i></a> 
                </p>
            </div>
        </li>
        <!-- 6 -->
        <li>
            <div class="infos">
                <img src="http://farm3.staticflickr.com/2617/3873098259_61c446da22_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Gaurav Niranjan
                    <b>Developer </b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/gaurav-niranjan-5a644015a/">Linkedin</i></a> 
                </p>
            </div>
        </li>

        <!-- 7 -->
        <li>
            <div class="infos">
                <img src="http://farm4.staticflickr.com/3412/3446830982_c8b55cc7e8_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Ishika Jain
                    <b>Developer</b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="inkedin.com/in/harsh-gupta-88073a172/">Linkedin</i></a> 
                </p>
            </div>
        </li>

        <!-- 8 -->
        <li>
            <div class="infos">
                <img src="http://farm4.staticflickr.com/3588/3663734351_f9cb5a6a56_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Jayesh Mandloi
                    <b>Developer</b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/jayesh-mandloi-814574179">Linkedin</i></a> 
                </p>
            </div>
        </li>
        <!-- 9 -->
        <li>
            <div class="infos">
                <img src="http://farm3.staticflickr.com/2617/3873098259_61c446da22_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Lakshya Gupta
                    <b>Developer </b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/lakshya-gupta-22058a178">Linkedin</i></a> 
                </p>
            </div>
        </li>

        <!-- 10 -->
        <li>
            <div class="infos">
                <img src="http://farm4.staticflickr.com/3412/3446830982_c8b55cc7e8_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Yash Garg
                    <b>Developer</b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/yash-garg-2525b0178">Linkedin</i></a> 
                </p>
            </div>
        </li>

        <!-- 11 -->
        <li>
            <div class="infos">
                <img src="http://farm4.staticflickr.com/3588/3663734351_f9cb5a6a56_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Anurag Gupta
                    <b>Developer</b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/anurag-gupta-850b30186/">Linkedin</i></a> 
                </p>
            </div>
        </li>
        <!-- 12 -->
        <li>
            <div class="infos">
                <img src="http://farm3.staticflickr.com/2617/3873098259_61c446da22_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Bharat Agrawal
                    <b>Developer </b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/bharat-agrawal-ba6a87145/">Linkedin</i></a> 
                </p>
            </div>
        </li>

        <!-- 13 -->
        <li>
            <div class="infos">
                <img src="http://farm4.staticflickr.com/3412/3446830982_c8b55cc7e8_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Garvit Modi
                    <b>Developer</b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/garvit-modi-b49188173">Linkedin</i></a> 
                </p>
            </div>
        </li>

        <!-- 14 -->
        <li>
            <div class="infos">
                <img src="http://farm4.staticflickr.com/3588/3663734351_f9cb5a6a56_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Jayant Khandelwal
                    <b>Developer</b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/jayant-khandelwal-2879aa157/">Linkedin</i></a> 
                </p>
            </div>
        </li>
        <!-- 15 -->
        <li>
            <div class="infos">
                <img src="http://farm3.staticflickr.com/2617/3873098259_61c446da22_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Purusharth Maheshwari
                    <b>Developer </b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/pursharth-maheshwari-b94130174/">Linkedin</i></a> 
                </p>
            </div>
        </li>

        <!-- 16 -->
        <li>
            <div class="infos">
                <img src="http://farm4.staticflickr.com/3412/3446830982_c8b55cc7e8_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Rishabh Garg
                    <b>Developer</b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/rishabh-garg-339358179/">Linkedin</i></a> 
                </p>
            </div>
        </li>
 
        <!-- 17-->
        <li>
            <div class="infos">
                <img src="http://farm4.staticflickr.com/3588/3663734351_f9cb5a6a56_q.jpg" alt="" title="by tresMunkeys" />
                <a href="#" class="sprite twitter"></a>
                <a href="#" class="sprite facebook"></a>
                <a href="#" class="sprite github"></a>
            </div>
            <div class="content">
                <h3>
                    Siddharth Sharma
                    <b>Developer</b>
                </h3>
                <p>
            <i class="fab fa-linkedin-in"><a href="https://www.linkedin.com/in/siddharthonspree/">Linkedin</i></a> 
                </p>
            </div>
        </li>
        

    </ul>

</body>
</html>
<!-- partial -->
  <script  src="./js/script.js"></script>

</body>
</html>
