#logo {
	width: 140px;
	height: 55px;
	/*padding-left: 0.3rem;
	padding-bottom: 0.5rem;
	padding-top: 0.2rem;*/
}

#navbarBrand {
	background: #292E49;
	height: 80px;
}

#navbarHeader {
	color: white;
}

#navbarHeader div:nth-of-type(2){
	font-family: "Open Sans Condensed", sans-serif;
}

#navbarHeader div:nth-of-type(1){
	font-family: "Anton", sans-serif;
}

.navbar {
	padding: 0rem;
	margin: 0;
	font-size: 1rem;
	background: #FFE58F;
}

.navbar .nav-item a {
	font-family: "Georgia", serif;
	color: #292E49;
	font-weight:500;
	transition: all 1.4s;
}

.navbar .nav-item a:before,
.navbar .nav-item a:after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.navbar .nav-item a:before {
	text-align: left;
	content: '[';
	margin-right: 3px;
	opacity: 0;
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
.navbar .nav-item a:after {
	text-align: left;
	content: ']';
	margin-left:3px;
	opacity: 0;
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.navbar .nav-item a:hover {
	color: white;
	background: #292E49;
	z-index: 1;
}

.navbar .nav-item a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
  	-moz-animation: fill 1s forwards;
  	opacity: 1;
  	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.navbar .nav-item a:hover:before {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
  	-moz-animation: fill 1s forwards;
  	opacity: 1;
  	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

html,body {
	background: #FFFFFF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #FFFFFF, #FFFFFF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #FFFFFF, #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
overflow-x: hidden;
}
.page-header {
	text-decoration: underline;
    text-align: center;
}
section	a {
	color: red;
	text-decoration: underline;
}
section a:hover {
	color: #212529;
}

h2 {
	color: #212529;
	font-family: "Open Sans Condensed", sans-serif;
	font-weight: 700;
}


section {
    padding: 30px 0;
	border-bottom: 1px solid #212529;
	font-family: "Open Sans Condensed", sans-serif;
}

div #main .container{
	padding: 20px 20px;
}
div .row {
	margin: 20px;
	font-size: 20px;
}

ul {
	margin-left: 30px;
}

/* Sidenav styling*/
#mySidenav a {
	color: #292E49;
	position: fixed;
	left: -120px;
	transition: 0.3s;
	padding: 8px;
	margin-top: 35vh;
	width: 150px;
	height: 50px;
	text-decoration: none;
	font-size: 21px;
	color: black;
	border-radius: 0 5px 5px 0;
	border: 1px solid #292E49;
	text-align: right;
}

#mySidenav a:hover {
  left: 0;
  background-color: #292E49;
  color: white;
}

#facebook {
	top: 0;
}
#instagram {
	top: 8%;
}
#twitter {
	top: 16%;
}
#linkedin {
	top: 24%;
}
#youtube {
	top: 32%;
}

@media only screen and (max-width: 600px) {
	h4{
		font-size: 1.25rem;
	}
	h3{
		font-size: 1.5rem;
	}
	h2{
		font-size: 2rem;
	}

}

/* =========================================== */
	/* navbar mobile styling */
@media only screen and (max-width: 600px) {
	#navbar_logo{
		display:none;
	}
	#navbarHeader h4{
		font-size: 1.5rem;
	}
	#main_heading{
		margin: auto;
	}
	#sub_heading{
		margin: auto;
	}
}
/* ============================================== */
